.panel-heading { 
    background-color: #2e6da4;
    height: 60px;
}

.btn {
    float: right;
    margin-right: 10px;
    height: 40px;
    width: 100px;
    text-align: center;
}

.searchBar{
    float: right;
    margin-right: 10px;
    height: 40px;
    width: 200px;
}

#menu-toggle{
    float: left;
    background: #830404;
}