<!--The content below is only a placeholder and can be replaced.-->
<div class='panel panel-primary'>
  <div class='panel-heading'>
      Welcome to {{title}}!
      <input class='searchBar' type = 'text'>
      <button class='btn btn-primary'>Films</button> <!-- (click) = 'toggleImage()' -->
      <button class='btn btn-primary'>List</button>
      <button class='btn btn-primary'>Reviewers</button>
  </div>
  <div class='panel-body'>

    </div>
  </div>

<div style="text-align:center">
</div>

