<div class="container">
  <h2>Register</h2>
  <form>
    <div class="form-group">
      <label for="username" class="col-form-label">Email</label>
      <input type="text" name="email" [(ngModel)]="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="password" class="col-form-label">Password</label>
      <input type="password" name="password" class="form-control">
    </div>
    <div class="form-group">
      <label for="confirmPassword" class="col-form-label">Confirm password</label>
      <input type="password" name="confirmPassword" [(ngModel)]="password" class="form-control">
    </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)='signup()'>Register</button>
    </div>
  </form>
</div>